<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <application
            android:name="app.appnomix.keyboard_sdk.AppnomixApplication"
            tools:replace="android:name">
        <!--Used when Application Entry is set to Activity, otherwise remove this activity block-->
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true"/>
        </activity>

        <service
                android:name="app.appnomix.keyboard_sdk.AppnomixInputMethodService"
                android:exported="true"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>

            <meta-data
                    android:name="android.view.im"
                    android:resource="@xml/method"/>
        </service>

        <meta-data
                android:name="app.appnomix.client_id"
                android:value="YOUR_CLIENT_ID"/>

        <meta-data
                android:name="app.appnomix.auth_token"
                android:value="YOUR_AUTH_TOKEN"/>
    </application>
</manifest>
